body{
    margin: 0px;
    font-family: 'Roboto';
    font-size: 22px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #b6b6b6;
    border-radius: 7px;
}

.mainPageProducts{
    padding: 15px;
    padding-bottom: 5vh;
}

.products{
    margin-top: 5vh;
    margin-inline: 15vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
}

.card img{  
    object-fit: fill;
    aspect-ratio: 16/9;
}

.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    padding: 2.5vh;
    border-radius: 5px;
    max-width: 40vh;
    background-color: rgb(192, 192, 192);
}

.card-body h5, p{
    text-align: left;
}

.card-body p{
    font-size: 14px;
    overflow-wrap: break-word;
}

.card-btn{
    display: flex;
    justify-content: center;
    padding: .5vh;
    background-color: rgb(0, 68, 255);
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;  
    align-self: flex-end;
    cursor: pointer;
}

.card img{
    mix-blend-mode: color-burn;
}

.delivery{
    display: flex;
}

.type p{
    text-align: center;
    font-weight: 700;
}

.collumns{
    color: white;
    display: flex;
    justify-content: center;
}

.collumn h3{
    text-align: left;
    font-weight: 600;
    min-width: 30vh;
    text-shadow: 0px 0px 10px #000000;
    font-size: 18;
}

.collumn p{
    text-align: left;
    font-weight: 400;
    text-shadow: 0px 0px 0px #000000;
    max-width: 18vh;
    font-size: 18;
}