body {
    margin: 0px;
    font-family: 'Roboto';
    font-size: 22px;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 14px 16px;
    text-decoration: none;
}

li a img {
    align-self: center;
    text-align: center;
    max-height: 28px;
}

li a:hover:not(.active) {
    border-bottom: 1px #fff solid;
}

.navbar {
    color: #fff;
    background-color: #856a5d;
}

.mainPageProducts {
    padding: 15px;
    padding-bottom: 5vh;
}

.products {
    margin-top: 5vh;
    margin-inline: 15vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vh;
}

.card img {
    object-fit: fill;
    aspect-ratio: 16/9;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    padding: 2.5vh;
    border-radius: 5px;
    max-width: 40vh;
    background-color: #ccc9e7;
}

.card-body h5,
p {
    text-align: left;
}

.card-body p {
    font-size: 14px;
    overflow-wrap: break-word;
}

.card-btn {
    display: flex;
    justify-content: center;
    padding: .5vh;
    background-color: #856a5d;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    align-self: flex-end;
    cursor: pointer;
}

.contactForm {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    background-color: #856a5d;
}

.contactForm h1 {
    text-align: center;
    text-shadow: 0px 0px 10px #000000;
}

.contactForm input {
    align-self: center;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px #fff solid;
    font-size: 1.2rem;
    width: 350px;
    padding: .5rem 2rem;
}

.contactForm input::placeholder {
    color: #fff;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.form-btn {
    align-self: center;
    border: 1px #fff solid;
    max-width: 100px;
    width: 100%;
    text-align: center;
    padding: .5rem 1rem;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #fff;
}

.delivery {
    display: flex;
}

.type p {
    text-align: center;
    font-weight: 700;
    color: #000;
}

.blog {
    display: flex;
    flex-direction: column;
    color: #000;
    margin-inline: 10vh;
}

.blog h1 {
    text-align: center;
}

.blog p{
    margin-top: 15vh;
}

.p-left {
    align-self: flex-start;
    padding-right: 20px;
    border-bottom: 1px #856a5d solid;
}

.p-right {
    align-self: flex-end;
    padding-left: 20px;
    border-bottom: 1px #856a5d solid;
}

.collumns {
    color: white;
    display: flex;
    justify-content: center;
}

.collumn h3 {
    text-align: left;
    font-weight: 600;
    min-width: 30vh;
    text-shadow: 0px 0px 10px #000000;
    font-size: 18;
}

.collumn p {
    text-align: left;
    font-weight: 400;
    text-shadow: 0px 0px 0px #000000;
    max-width: 18vh;
    font-size: 18;
}